* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(chapter7img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}
.head-text {
  padding: 20px;
}
main {
  width: 840px;
  margin: 50px auto;
}

.content1 {
  padding-bottom: 30px;
  border-bottom: 2px solid;
}
.content2 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid;
}
.content3 {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid;
}
